<div id="<%= dom_id game_level %>">
  <p>
    <strong>Isadmin:</strong>
    <%= game_level.isAdmin %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= game_level.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game_level.user %>
  </p>

  <p>
    <strong>Level no:</strong>
    <%= game_level.level_no %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= game_level.balance %>
  </p>

</div>
